!!!5
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http: { equiv: 'Content-Type'}}
  %body
    %h1= t('incident_mailer.created.title')
    %p
      = t('incident_mailer.created.body')
      = link_to t('incident_mailer.created.code'), code_incident_url(code: @incident.code)
    %p
      The IT team
